#navbar {
  background-color: black;
  color: white;
  /* position: fixed;
  top: 0;
  width: 100%; */
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
}

#nb-p1 {
  padding: 0px 80px;
}

#navbar-main1 {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

#nb-pop-close-div {
  display: flex;
  justify-content: flex-end;
}

#nb-pop-close {
  background-color: #fff;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

#nb-e-content a {
  padding: 0;
  margin: 0;
  color: black;
}

#nb-e-content a:hover {
  text-decoration: none;
}

#nb-em-hover {
  text-decoration: none;
  color: white;
  margin: 40px 0px;
}

.e-content {
  position: absolute;
  left: 0px;
  top: 50px;
  transform: translate(0%);
  width: 350px;
  padding: 40px;
  border: 1px solid;
  margin-top: 10px;
  background-color: white;
  color: black;
  opacity: 0;
  display: none;
  cursor: default;
}

.e-content::before {
  content: "";
  position: absolute;
  left: 70px;
  top: -26px;
  transform: translateX(-50%);
  border: 13px solid;
  border-color: transparent transparent white transparent;
}

#nb-email,
.e-content select {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.nb-em-hover {
  padding: 20px 0px;
}

.nb-em-hover::marker {
  content: none;
}

.e-content p {
  margin: 0px 0px 10px 0px;
}

.nb-em-hover-p {
  font-size: 14px;
  color: rgb(80, 80, 80);
}

.e-content select {
  width: 150px;
  margin: 20px 0px;
}

.e-content h3 {
  margin: 0px 0px 10px 0px;
}

#nb-su-text {
  font-weight: 700;
}

#nb-em-warn {
  color: red;
  display: none;
}

#nb-search {
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid #fff;
}

#nb-search:focus {
  outline: none;
  border: none;
}

#ec-submit {
  padding: 10px 0px;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  background-color: black;
  width: 100%;
  border: none;
}

#ec-submit:hover {
  background-color: rgb(255, 74, 98);
}

#nb-query {
  padding: 20px 0px;
  margin: 10px 80px;
}

#nb-p1 {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
#nb-p2 {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  background-color: #000;
}

#nb-logo {
  width: 345px;
  height: 38px;
  margin: 20px 0px;
}

#navbar-main2 {
  text-align: center;
}

#e-content1 {
  display: none;
}

#navbar-main3 {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;
}

#nb-join {
  white-space: nowrap;
}

#e-content1-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 400px;
  gap: 10px;
  padding: 15px;
  position: absolute;
  top: 50px;
  right: 150px;
  margin-top: 10px;
}

#nb-join-em-warn {
  color: red;
  display: none;
}

#e-content1-1::before {
  content: "";
  position: absolute;
  right: 0px;
  top: -26px;
  transform: translateX(-50%);
  border: 13px solid;
  border-color: transparent transparent white transparent;
}

#e-content1-1 img {
  width: 100%;
  height: 100%;
}

#e-content1-1 {
  background-color: #fff;
  color: black;
}

#nb-m3-close-div {
  display: flex;
  justify-content: flex-end;
}

#nb-m3-close {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0px 10px;
}

#nb-m3-p2 h3,
#nb-m3-p2 p {
  margin: 10px 0px;
}

#nb-join-email {
  padding: 10px 20px;
  margin-bottom: 20px;
}

#nb-join-sp1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#nb-join-sp1 a {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

#nb-join-email-check {
  padding: 20px;
  color: #fff;
  background-color: black;
  border: none;
  cursor: pointer;
}

#nb-join-hover {
  text-decoration: none;
  color: white;
  margin: 40px;
}

#nb-join-tc {
  font-size: 12px;
  margin: 10px 0px;
}

#nb-join-tc a {
  color: gray;
}

#nb-m3-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* ------------------------------- */

#nb-register-main {
  position: relative;
}

#nb-register-main a {
  color: black;
}
#nb-register-main a:hover {
  text-decoration: none;
}

#nb-register {
  opacity: 0;
  display: none;
}

#nb-register-sub {
  right: -20px;
  top: 40px;
  position: absolute;
  background-color: #fff;
  color: black;
  overflow-y: scroll;
  height: 500px;
  width: 400px;
  cursor: default;
}

#nb-register::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 14px;
  transform: translateX(-50%);
  border: 13px solid;
  border-color: transparent transparent white transparent;
}

#nb-reg-log-div {
  padding: 15px;
}

#nb-reg-log-div * {
  margin: 5px 0px;
}

#nb-reg {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

#nb-reg h4 {
  font-size: 20px;
}

#nb-reg-login input {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 87%;
}

#nb-reg-login-check {
  padding: 10px 20px;
  margin: 20px 0px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

#nb-reg-fb-div {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

#nb-reg-fb {
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#nb-new-reg {
  background-color: #000;
  color: white;
  padding: 20px;
}

#nb-new-reg h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

#nb-new-acc-reg {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}

#nb-register-close-div {
  display: flex;
  justify-content: flex-end;
}

#nb-register-close {
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px 0px 20px;
}

/* ------------ */
#nb-reg1 {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  display: none;
}

#nb-reg-log-div1 {
  padding: 15px;
}

#nb-reg-log-div1 * {
  margin: 5px 0px;
}

#nb-reg1 h4 {
  font-size: 20px;
}

#nb-reg-login1 input {
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 87%;
}

#nb-reg-login-check1 {
  padding: 10px 20px;
  margin: 20px 0px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

#nb-reg1 p {
  font-size: 16px;
  margin: 10px 0px;
}

#nb-reg1 select {
  padding: 10px 20px;
}

#nb-new-reg1 {
  background-color: #000;
  color: white;
  padding: 20px;
  display: none;
}

#nb-new-reg1 h5 {
  font-size: 18px;
  margin-bottom: 20px;
}

#nb-new-acc-reg1 {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* navbar part 2 */

#nb-menu {
  /* max-width: 100%; */
  display: flex;
  align-items: center;
}

.navcontainer {
  max-width: 100%;
  margin: 0;
  display: flex;
  /* white-space: nowrap; */
}

.main-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-size: 14px;
  left: 0;
  right: 0;
  width: 100%;
}

.main-menu > li {
  display: inline-block;
  /* text-align: center; */
}

.main-menu a {
  color: #fff;
  display: block;
  padding: 22px 10px;
  text-decoration: none;
  margin: 0;
}

.main-menu a:hover {
  text-decoration: underline;
}

.main-menu {
  /* display: flex;
  width: 100%; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 14px;
}

.menu-sub ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  font-size: 14px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: left;
}

.menu-sub {
  position: absolute;
  left: 0;
  background-color: white;
  display: none;
}

.main-menu > li:hover .menu-sub {
  z-index: 999;
  display: block;
  width: 100%;
}

.main-menu > li:hover {
  text-decoration: underline;
  display: block;
}

.menu-sub a {
  padding: 0;
  margin: 10px;
}

.sub-category > li > a > div {
  color: black;
  margin: 20px;
  line-height: 20px;
}

.sub-category img {
  width: 100%;
}

.sub-category h5 {
  font-size: 16px;
  margin: 20px 0px;
}

.sub-category {
  display: flex;
  justify-content: space-evenly;
}

.sub-menu-main {
  margin: 20px;
}

.sub-menu-main h5 {
  color: rgb(83, 83, 83);
}
.sub-menu-main > a:hover {
  text-decoration: none;
}
.sub-menu-main > a:hover h5 {
  color: rgb(255, 68, 109);
}
.sub-menu-main a {
  color: #000;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}

.menu-sub-inner {
  width: 1440px;
  margin: 0 auto;
}

/* media queries */
@media only screen and (max-width: 1100px) {
  .menu-sub-inner {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  #nb-p1 {
    padding: 0px 10px;
  }
  #nb-query {
    padding: 20px 0px;
    margin: 10px;
  }
  #nb-p1,
  #nb-p2 {
    display: grid;
    grid-template-columns: 20% 50% 30%;
  }
  .main-menu a {
    color: #fff;
    display: block;
    padding: 22px 10px;
    text-decoration: none;
    margin: 0;
  }
}

#nb-reg-login-user {
  display: none;
  text-align: center;
  font-size: 25px;
}

#nb-reg-login-user img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
